.submitForm {
    margin-top: 10px;
    float: left;
    clear: both;
  }
  .submitFormPart{
    margin-top: 3px;
    float: left;
  }
  .submitFormPartbutton{
    margin-top: 3px;
    margin-right:3px;
    margin-left: 2px;
    float: left;
    color: #274156;
    background:transparent;
    border: 2px solid #274156;
    border-radius: 6px;
  }
  .submitFormPartbutton:hover{
    background-color: #008CBA;      
    color: white;
  }
  .flexBox{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .square {
    flex-grow: 1;
    min-height: 200px;
    min-width: 400px;
    max-width: 650px;
    word-break: normal;
    color: white;
    padding: 10px;
    float: left;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .squareFront{
    background: #274156;
  }
  .squareBack{
    background: #2a9d8f;
  }

  @media (max-width: 769px) {
    .square {
      min-width: 70px;
      max-width: 200px;
    }
    
}